.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, red, blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.banner{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
   
}
h2{
    color: brown;
}
.work{
   text-align: center;  
}
body{
    margin: 0% ;
}
section{
    height: 300px;
    padding-bottom: 20px;
}
.my-work img{
   width: 20%;
   float: left;
   margin-left: 2%;
   padding-left: 2%;
   
}
#opinion{
  text-align: center;
}

button{
    background-color:blue;
    color: aqua;
    text-decoration: none;
    padding-right: 120px;
    padding-bottom: 50px;
    margin-left: 40%;
    text-align: center;
}
 footer p{
    text-align: center;
}